body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(14, 28, 43);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');


/* General */

a{
  color: white;
  text-decoration: none;
}

.start {
  font-weight: 900;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  width: 60%;
  background-color: rgb(26, 65, 31);
  border-radius: 30px;
  padding: 30px;
}


.main h2 {
  font-size: 22px;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.main p {
  font-size: 16px;
  color: white;
  font-family: 'Merriweather', serif;
}

.header h1 {
  font-size: 42px;
  color: white;
  font-family: 'Merriweather', serif;
  text-align: center;
}

.list {
  background-color: rgb(187, 224, 187);
  padding: 10px;
  margin: 10px 0;
  border-radius: 15px;
}

ul {
  padding-inline-start: 10px;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
}

.navbar button {
  padding: 8px 16px;
  font-size: 18px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  background-color: rgb(57, 5, 78);
  color: white;
}

.navbar button:hover {
  background-color: rgb(95, 14, 128);
}

.listbutton {
  padding: 4px 8px;
  font-size: 14px;
  margin: 10px;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  background-color: rgb(57, 5, 78);
  color: white;
}

.listbutton:hover {
  background-color: rgb(95, 14, 128);
}

/* Spinner */

.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
